<app-navbar></app-navbar>

<div class="container mt-4">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
               <div class="col col-12 col-sm-12 col-md-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                   <h1 style="color:brown">Update Employee</h1>
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                   <label for="" class="form-label">Update Employee</label>
                   <input type="text" name="employeeCode" [(ngModel)]="employeeCode1" id="" class="form-control">
                    
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                   <button (click)="readValues()" class="btn btn-danger">Search </button>
                    
                </div>

                <div class="row g-3 mt-4 ">
                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6" *ngFor="let j of result">
                        <div class="card" style="width: 18rem;">
                            <img src="https://png.pngtree.com/png-vector/20220901/ourmid/pngtree-male-company-employee-avatar-icon-wearing-a-necktie-png-image_6133877.png" class="card-img-top" alt="...">
                            <div class="card-body">
                              <input type="text" name="employeeCode" [(ngModel)]="j.employeeCode" value="{{j.employeeCode}}" id="" class="form-control">
                              <input type="text" name="employeeName"  [(ngModel)]="j.employeeName"  value ="{{j.employeeName}}" id="" class="form-control">
                              <input type="text" name="designation"   [(ngModel)]="j.designation" id="" class="form-control">

                            </div>
                            <ul class="list-group list-group-flush">
                          
                              
                             
                            </ul>
                           <button (click)="update(j.id,j.employeeCode,j.employeeName,j.designation)"  class="btn btn-danger">Update</button>
                          </div>
    
                    </div>
            </div>
               
            </div>
        </div>
    </div>
</div>
